/*========== COMMON STYLES ==========*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.contacts {
    font-style: normal;
}
.contacts-mobile {
    font-style: normal;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
address { 
    font-style: normal;
}
.container {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;

 }
/*========== /COMMON STYLES ==========*/

/*========== HEADER MOBILE STYLES ==========*/
.list-nav {
    display: none;
}
.list-contacts {
    display: none;
}

.logo {
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
   
    color: #4D5AE5;
}
.logo-studio {
    color: #2F2F37;
}

.page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*========== /HEADER MOBILE STYLES =========*/

/*========== SECTION ONE MOBILE ==========*/
.section-one {
    max-width: 320px;
    background-color: #2e2f42;
    padding: 72px 0;
    text-align: center;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-mobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}
.title {
    font-size: 36px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 217px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
    text-transform: capitalize;
}
.but {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.but:hover,
.but:focus {
    background-color: #404BBF;
}
@media screen and (min-resolution: 192dpi),
       screen and (min-resolution: 2dppx),
       screen and (min-device-pixel-ratio: 2) {
    
        .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/Dark-bg-mobile@2x.jpg);
        }
    
}
/*========== /SECTION ONE MOBILE ==========*/

/*========== SECTION TWO MOBILE ==========*/
.menu-icon {
    display: none;
}
.section-two-container {
    padding-top: 96px;
    padding-bottom: 96px;
}
.menu-two .category {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    
}
.text-two {
    font-weight: 500;
}
.list-two{
    padding-bottom: 72px;
}
.list-two:last-child {
    padding-bottom: 0;
}

/*========== /SECTION TWO MOBILE ==========*/

/*========== SECTION THREE MOBILE ==========*/
.section-three {
    background-color: #F4F4FD;
    padding-top: 96px;
    padding-bottom: 96px;
}
.section-three .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}
.image-three {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: 264px;
    box-shadow:
        0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);
    display: flex;
    width: 264px;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-left: auto;  
    margin-right: auto;
}
.name-team {
    text-align: center;
    padding: 32px 0;
}
.name-team .category {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}
.section-three .text-three {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
}

.name-icon {
    display: flex;
    justify-content: center;
    gap: 24px;

}

.list-name-icon {
    width: 40px;
    height: 40px;

    border-radius: 50%;
}

.list-name-icon .link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.link-icon:hover,
.link-icon:focus {
    background-color: #404bbf;
}

.social-link-icon {
    fill: #f4f4fd;
}
/*========== /SECTION THREE MOBILE ==========*/


/*========== SECTION FOUR MOBILE ==========*/
.section-four{
    padding-top: 96px;
    padding-bottom: 96px;
    margin-right: auto;
    margin-left: auto;

}
.section-four .section-title {
    font-size: 36px;
    line-height: 1.11;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.card-overlay {
    position: relative;
    overflow: hidden;

}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4D5AE5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-four:hover .overlay-text {
    transform: translateY(0%);
}
.menu-four .list-four {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-four .list-four:hover {
    box-shadow:
        0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);

}
.name-app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    
}
.section-four .category {
    text-align: left;
    margin-bottom: 8px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;

}
.menu-four {
    display: flex;
    row-gap: 48px;
    flex-wrap: wrap;
}

/*========== /SECTION FOUR MOBILE ==========*/


/*========== FOOTER MOBILE ==========*/
.closed-part {
    padding: 96px 0;
    background-color: #2e2f42;
    align-items: baseline;
}

.closed-part .container {
    display: flex;
    flex-direction: column;
    align-items: baseline;

}

.closed-part-footer {
    display: flex;
    flex-direction: column;
}
.closed-part-footer .logo {
    text-align: center;
}
.closed-part .logo-studio {
    color: #F4F4FD;
}
.closed-part .text-part {
    color: #F4F4FD;
    margin-top: 16px;
    margin-bottom: 72px;
}
.closed-part .title-footer {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
}
.footer-icon .name-icon {
    gap: 16px;
    margin-bottom: 72px;
}
 .link-footer-icon:hover,
 .link-footer-icon:focus {
    background-color: #31D0AA;
 }
 .closed-part .name-form {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
 }
 .rewiew-form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
 }
 .rewiew-form-footer-input {
    width: 288px;
    height: 40px;
    background: #2e2f42;
    border: 1px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    opacity: 0.3;
    font-size: 12px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #ffffff;
    padding-left: 16px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
 }
 .rewiew-form-footer-input::placeholder {
    color: #ffffff;
    padding-left: 16px;
    padding-top: 8px;
    opacity: 0.6;
 }
.rewiew-form-footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    color: #ffffff;
}

.footer-button-icon {
    margin-left: 16px;
}
 
/*========== /FOOTER MOBILE ==========*/


/*========== STYLE MENU MOBILE ==========*/
@media screen and (max-width: 767px) {
.mobile-open-btn {
    border: none;
    background-color: transparent;
    line-height: 0;
    padding: 0;
    fill: #2E2F42;
        }
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999999;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.page-head {
    padding-top: 16px;
    padding-bottom: 16px;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.mobile-menu-container {
    position: relative;
}

.mobile-menu-close {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 24px;
    right: 24px;
    padding: 0;
    border-radius: 50%;
    line-height: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(231, 233, 252, 1);
    color: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu-close:hover,
.mobile-menu-close:focus {
    background-color: #404BBF;
}
.head-nav-mobile{
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 168px;
}
.menu-nav-item-mobile:not(:last-child){
    margin-bottom: 40px;
}
.link-menu-mobile {
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-menu-mobile:hover,
.link-menu-mobile:focus {
    color: #404bbf;
}
.page-contacts-mobile {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-left: 16px;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.contacts-item-mobile:not(:last-child) {
    margin-bottom: 24px;
}
.page-contacts-mobile:hover,
.page-contacts-mobile:focus {
    color: #4D5AE5;
}
.name-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 48px;
   
}
.list-name-icon-mobile {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.link-icon-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-icon-mobile:hover,
.link-icon-mobile:focus {
    background-color: #404bbf;
}
.link-icon-mobile{
    line-height: 0;
}
/*========== /STYLE MENU MOBILE ==========*/
}



/*========== STYLE TABLET ===========*/

 @media screen and (min-width: 768px) {
.container {
        max-width: 768px;
    }


/*========== HEADER TABLET STYLES ==========*/
.page-head {
    box-shadow:
        0 1px 6px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16),
        0 2px 1px rgba(46, 47, 66, 0.08);

    border-bottom: 1px solid #E7E9FC;
}
.logo {
    margin-right: 120px;
}
.head-nav {
    display: flex;    
}
.list-nav {
    display: flex;
    gap: 40px;  
}
.logo {
    padding-bottom: 24px;
    padding-top: 24px;
}
.link {
    position: relative;
    display: block;
    font-style: normal;
    font-weight: 500;
    padding-bottom: 24px;
    padding-top: 24px;
    color: #2E2F42;
    
}

.list-contacts {
    display: flex;
    flex-direction: column;

}
.link:hover,
.link:focus {
    color: #404BBF;
}
.list-nav .link:hover::after,
.list-nav .link:focus::after {
    position: absolute;
    display: block;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
    content: '';
    color: #404bbf;
}

.page-contacts {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.page-contacts:hover,
.page-contacts:focus {
    color: #404bbf;
}

.mobile-open-btn {
    display: none;
}
.mobile-menu {
    display: none;
}
/*========== /HEADER TABLET STYLES =========*/



/*========== SECTION ONE TABLET ==========*/
.section-one {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/Dark-bg-tablet.jpg);
    
}
.title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
    text-transform: none;
}
@media screen and (min-resolution: 192dpi),
       screen and (min-resolution: 2dppx),
       screen and (min-device-pixel-ratio: 2) {

.section-one {
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/Dark-bg-tablet@2x.jpg);
}
}   
/*========== /SECTION ONE TABLET ==========*/



/*========== SECTION TWO TABLET ==========*/
.menu-two {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}
.menu-two .list-two {
    width: calc((100% - 24px) / 2);
}
.list-two:nth-child(n+3) {
    padding-bottom: 0;
}
.menu-two .category{
    text-align: left;
}
/*========== /SECTION TWO TABLET ==========*/


/*========== SECTION THREE TABLET ==========*/
.menu-three{
    display: flex;
    justify-content: center;;
    flex-wrap: wrap;
    gap: 24px;
}
.image-three {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 64px;
}
.image-three:nth-child(n+3) {
    margin-bottom: 0;
}

/*========== /SECTION THREE TABLET ==========*/



/*========== SECTION FOUR TABLET ==========*/
.menu-four {
    column-gap: 24px;
}

/*========== /SECTION FOUR TABLET ==========*/


/*========== FOOTER TABLET ==========*/
.tablet-footer {
    display: flex;
}
.closed-part-footer .logo {
    text-align: left;
    padding: 0;
}
.closed-part .container {
    padding: 0 0 0 108px;
}
.text-part {
    width: 264px;
}
.closed-part-footer {
    margin-right: 24px;
}
.closed-part .title-footer {
    text-align: left;
}
.footer-icon .name-icon {
    margin-bottom: 0;
}
.closed-part .name-form {
    text-align: left;
}
.rewiew-form-footer-input {
    width: 264px;
}
.rewiew-form-footer {
   flex-direction: row;
   gap: 24px;
   
}
 
/*========== /FOOTER TABLET ==========*/

}

/*========== HEADER DESKTOP ==========*/
 @media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
.logo {
    margin-right: 76px;
}
.list-contacts {
    flex-direction: row;
    gap: 40px;
}
.contacts-item {
    padding-top: 24px;
    padding-bottom: 24px;
}
.page-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/*========== HEADER DESKTOP ==========*/



/*========== SECTION ONE DESKTOP ==========*/
.section-one {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/bg_people_office.jpg);

}
@media screen and (min-resolution: 192dpi),
       screen and (min-resolution: 2dppx),
       screen and (min-device-pixel-ratio: 2) {

.section-one {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/retina/bg_people_office@2x.jpg);
}
}
.title {
    margin-bottom: 48px;
}
/*========== /SECTION ONE DESKTOP ==========*/




/*========== SECTION TWO DESKTOP ==========*/
.menu-icon {
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.menu-two .category {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2E2F42;

}
.list-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    width: 264px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    gap: 24px;
}
.menu-two .list-two {
    width: calc((100% - 72px) / 4);
    padding-bottom: 0;
}
.text-two {
    font-weight: 400;
}
/*========== /SECTION TWO DESKTOP ==========*/


/*========== SECTION THREE DESKTOP ==========*/
.section-three {
    padding: 120px 0;
}
.image-three {
    margin-bottom: 0;
}

/*========== /SECTION THREE DESKTOP ==========*/



/*========== SECTION FOUR DESKTOP ==========*/
.section-four {
    padding-top: 120px;
    padding-bottom: 120px;

}

/*========== /SECTION FOUR DESKTOP ==========*/


/*========== FOOTER DESKTOP ==========*/

.closed-part .container {
    flex-direction: row;
}
.rewiew-form-footer {
    display: flex;
}
.closed-part .container {
    padding-left: 15px;
    padding-right: 15px;
}
.closed-part-footer {
    margin-right: 120px;
}
.closed-part .text-part {
    margin-bottom: 0;
}
.closed-part-footer .logo {
    margin-right: 0;
}
.footer-icon {
    margin-right: 80px;
}
/*========== /FOOTER DESKTOP ==========*/
}
